.contact_anniu{
	font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
	padding: 0.5em 2.5em;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid rgba(192, 192, 192, 0.61);
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	cursor: pointer;
	font-size: 1.1em;
	outline: none;
	margin-top:1em;
}
.font_color_1 {
    color:#EC005F;
    font-weight:700;
    text-transform: uppercase;
    font-size: 1em;
}
.font_color_2 {
    color:#464646;
    font-size:0.8em;
}
.font_color_0 {
    color:#FFF;
}
.print_info {
    color:#EC005F;
    font-size:0.8em;
}
.TemplateField {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:80px;
}



/*GridView样式*/
.GridViewStyle
{  
    border-right: 2px solid #A7A6AA;
    border-bottom: 2px solid #A7A6AA;
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding: 4px;
    width:100%
}
.GridViewStyle.a
{
    color: #FFFFFF;
}
.GridViewHeaderStyle.th
{
    border-left: 1px solid #EBE9ED;
    border-right: 1px solid #EBE9ED;
}
.GridViewHeaderStyle
{
    background-color: #5D7B9D;
    font-weight: bold;
    color: White;
}
.GridViewFooterStyle
{
    background-color: #5D7B9D;
    font-weight: bold;
    color: White;
}
.GridViewRowStyle
{
    background-color: #F7F6F3;
    color: #333333;
}
.GridViewAlternatingRowStyle
{
    background-color: #FFFFFF;
    color: #284775;
}
.GridViewRowStyle.td, .GridViewAlternatingRowStyle.td
{
    border: 1px solid #EBE9ED;
}
.GridViewSelectedRowStyle
{
    background-color: #E2DED6;
    font-weight: bold;
    color: #333333;
}
.GridViewPagerStyle
{
    background-color: #284775;
    color: #FFFFFF;
}
    .GridViewPagerStyle.table {
        margin: 0 auto 0 auto;
    }

    .inquire{
	font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
	padding: 0.2em 2em;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid rgba(192, 192, 192, 0.61);

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	cursor: pointer;
	font-size: 1.1em;
	outline: none;
	margin-top:2em;
}
.check {
    font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
	padding: 0.2em 2em;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid rgba(192, 192, 192, 0.61);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	cursor: pointer;
	font-size: 1.1em;
	outline: none;
}

    .input_on{
padding:2px 8px 0pt 3px;
height:18px;
border:1px solid #C9E0FF;
background-color:#FAFAFA;
}
.input_off{
padding:2px 8px 0pt 3px;
height:18px;
border:1px solid #C9E0FF;
background-color:#FFF;
}
.input_move{
padding:2px 8px 0pt 3px;
height:18px;
border:1px solid #C9E0FF;
background-color:#FAFAFA;
}
.input_out{
/*height:16px;默认高度*/
padding:2px 8px 0pt 3px;
border:1px solid #C9E0FF;
background-color:#FFF;
}
.advice {
    height:5em;
}
.min-height {
    min-height:150px
}
